@import "permanentvariables";*/
* {
  direction: rtl !important;
}
main {
  text-align: right !important;
}

caption, th, td {
  text-align: right;
}

ul, ol {
    padding-right: 0;
}

.pull-xs-right, .pull-right {
  float: left !important;
}
.pull-xs-left, .pull-left {
  float: right !important;
}
.text-xs-right{
  text-align: left!important;
}
.text-xs-left{
  text-align: right!important;
}
.text-start {
  text-align: right!important;
}
.text-end {
  text-align: left!important;
}
.float-start {
  float: right!important;
}
.float-end {
  float: left!important;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
  position: relative;
  min-height: 1px;
}


@media (min-width: 544px) {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11 {
    float: right
  }
}


@media (min-width: 768px) {

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11{
    float: right
  }
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11{
    margin-left: 0
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11{
    float: right
  }


  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11{
    margin-left: 0
  }
}


@media (min-width: 1200px) {

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11{
    float: right
  }

  .col-lg-12 {
    width: 100%
  }


  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11 {
    margin-left: 0
  }
}
 

  /*owl-nav start*/
  .owl-carousel .owl-nav .owl-prev i:before{
    content: "\f061";
    margin-left: 1px;}
  .owl-carousel .owl-nav .owl-next i:before{
    content: "\f060";
    margin-left: 0;}
  .image_show #slider_carousel .owl-nav .owl-prev i:before{
    content: "\f104";}
  .image_show #slider_carousel .owl-nav .owl-next i:before{
    content: "\f105";}

.addthis_toolbox a.at300b, .addthis_toolbox a.at300m {
  float: right;
}

.tweet_iframe_widget {
  margin: 0 auto;
}


  /*owl-nav end*/

  .accordion-button::after {
    margin-left: 0;
    margin-right: auto;
  }

  ._2tga._8j9v {
    float: right;
  }

/* Header */
#offcanvas-backdrop.active{
  left: auto;
  right: 0;
}



/* Header */
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select{
  
  border-top-right-radius:  0.25rem;
  border-bottom-right-radius:  0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;                      
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
  border-top-left-radius:  0.25rem;
  border-bottom-left-radius:  0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > .form-control, .input-group > .form-select, .input-group > .form-floating{
  border-radius: 0!important;
}
#checkout-cart #shopping-cart form .btn{
  border-radius: 0!important;
}                                                                                                                     
#offcanvas-backdrop.active{                                                       
  left: auto;
  right: 0;}

/* Header-Nav */
.header-nav .header-nav-right{
  text-align: left;
  justify-content: left;} 
@media (max-width: 767px){
  .header-nav .header-nav-right{
    text-align: center;
    justify-content: center;}}
@media (min-width: 992px){
  .header-nav .header-nav-right .user-info{
   padding-left: 0;
   padding-right: 8px;}}
  .user-info .dropdown-menu{
    left: 0 !important;
    right: auto !important;}
  @media (max-width: 991px){
    #_mobile_user_info .user-info .dropdown-menu{
      left: 0 !important;
      right: auto !important;}}

.header-nav #ishiheaderblock{
  text-align: right;}
#header-cart .alert_div p{
  text-align: right!important;
  padding-left: 10px;
  padding-right: 0;
}
.currency-selector li a, .language-selector li a, .user-selector li a, #_mobile_user_info li a{
  text-align: right;
}
#ishiheaderblock .close{
  left: 15px;
  right: auto;}
.language-selector .dropdown-menu,.currency-selector .dropdown-menu{
  right: auto !important;
  left: 0 !important;}
.mobile-lag-cur .language-selector,.mobile-lag-cur .currency-selector{
   display: inline-block;
   padding: 0 0 0 10px;}
.mobile-lag-cur .currency-selector{
 padding: 0;}
.currency-selector li a,.language-selector li a,.user-info li a , #_mobile_user_info li a{
  text-align: right;}
.currency-selector li img, .language-selector li img {
  padding-right: 0;
  padding-left: 8px;}
.dropdown-menu{
  text-align: right;}
.left-nav .language-selector .dropdown-menu,.left-nav .currency-selector .dropdown-menu {
  left: auto !important;
  right: 0 !important;}
@media (max-width: 991px) {
 .left-nav .language-selector .dropdown-menu,.left-nav .currency-selector .dropdown-menu {
    right: 0 !important;
    left: auto !important;}}
  #_mobile_language{
    padding-right: 0;
    padding-left: 10px;}
  #_mobile_language:after, #_mobile_currency:after{
    right: auto;
    left: -7px;}
  #_mobile_user_info  .dropdown-menu {
    left: 0 !important;
    right: auto !important;}
  #top-menu > li{
    text-align: right;}
  #top-menu > li:first-child{
    padding-left: 14px;
    padding-right: 0;
  }
  #top-menu > li > a i {
    float: left;
    transform: rotateY(180deg);}
@media (min-width: 992px){
  #top-menu > li > a:before {
      left: 0;
      right: auto;
  }
  #top-menu > li:last-child > a:before {
    display: none;
  }
}
#_desktop_top_menu #top-menu > li .sub-menu {
  right: 0;
  left: auto;}
.header-nav .header-nav-left .language-selector{
  padding-right: 0;
}
  #_desktop_top_menu #top-menu > li:hover:hover .sub-menu{
    right: 0;
    left: auto;}
  #_desktop_top_menu #top-menu > li .sub-menu:before{
    right: 0;
    left: auto;
  }
  #_desktop_top_menu #top-menu > li .sub-menu ul[data-depth="1"] > li {
    float: right;
    text-align: right;
    margin-left: 0;
    }
  #_desktop_top_menu #top-menu > li .sub-menu ul[data-depth="1"] > li > a:before {
    left: auto;
    right: 0;}
  #_desktop_top_menu #top-menu > li:nth-child(8) .sub-menu {
    right: auto;
    left: 0;}
      .refine-search .category-list ul li.item:nth-child(4n+1) {
        clear: right; }
      .refine-search .category-list ul li.item:nth-child(3n+1) {
        clear: right; } 
      @media (max-width: 420px) {
      .refine-search .category-list ul li.item:nth-child(3n+1) {
        clear: none; }
      .refine-search .category-list ul li.item:nth-child(2n+1) {
        clear: right; } }
    .refine-search .category-list .owl-nav .owl-prev, .refine-search .category-list .owl-nav .owl-next {
      left: auto;
      right: 0; }
    .refine-search .category-list .owl-nav .owl-next {
      right: auto;
      left: 0;}
#mobile_top_menu_wrapper {
  left: auto;
  right: 0;}
  #mobile_top_menu_wrapper #top_menu_closer {
    margin-right: 0;
    margin-left: 11px;
    text-align: left;}
  #mobile_top_menu_wrapper #top-menu {
    text-align: right;}
  #mobile_top_menu_wrapper #top-menu > li i {
    float: left;}
  #mobile_top_menu_wrapper .top-menu .navbar-toggler {
    right: auto;
    left: 0;}
  #mobile_top_menu_wrapper .top-menu .sub-menu{
    padding: 10px 15px 0 0;}
  #mobile_top_menu_wrapper .top-menu .sub-menu ul {
    padding: 0 15px 0 0; }
  #mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"] {
    padding : 10px 15px 0 0;}
  #menu-icon {
  float: right;}
  @media (min-width: 1400px) {
    .contactinfo .contact-num {
        padding: 5px 25px 5px 40px;}}
  .user-selector .dropdown-menu{
    left: 0 !important;
    right: auto !important;}

/*Nav Full Width*/






/* Start Header Top */

/* Header-Top */
#menu-icon{
  float: right;}
#_mobile_seach_widget{
  float: right;}
  .ajaxishi-search ul li > div .product-image {
    float: right;
    margin-right: 0;
    margin-left: 12px;}
  .ajaxishi-search ul li > div .product-desc {
    text-align: right;}
  .ajaxishi-search ul li > div .product-desc .product-price .special {
    margin-right: 0;
    margin-left: 8px;}
  .search-widget form{
    left: 0 !important;
    right: auto !important;}
  .search-widget form input[type="text"]{
    padding-left: 55px;
    padding-right: 15px;}
@media (max-width: 1199px){
.search-widget form input[type="text"] {
    min-width: 230px;
    padding-right: 10px;
}
}
@media(max-width:991px){
  .search-widget form input[type="text"]{
    padding-right: 10px;
  }
}
  .mobile-width-right, .mobile-width-left{
    text-align: left;}
.header-top .desktop-logo{
  text-align: right;}
.desktop-custominfo{
  text-align: left;}
.header-top-height .header-top .header-left-nav>div:after{
  left: -2px;
  right: auto;}
.search-widget .search-tag{
  left: auto;
  right: 0;
}


  #_desktop_top_menu .home-title{
    padding: 15px 45px 15px 15px;
    text-align: right;}
  #_desktop_top_menu .wrapper-menu{
    right: 29px;
    left: auto;}
  #_desktop_top_menu .wrapper-menu .line-menu.start{
     transform-origin: left;}
  #_desktop_top_menu .wrapper-menu.open .line-menu.start{
    transform: rotate(90deg) translateX(-3px);}
  #_desktop_top_menu .wrapper-menu .line-menu:after{
    right: 0;
    left: auto;}
  #_desktop_top_menu .wrapper-menu .line-menu:nth-child(2n+3):after{
    right: auto;
    left: 0;}
  #_desktop_top_menu .wrapper-menu.open .line-menu.end{
    transform: rotate(90deg) translateX(3px);}
  #_desktop_top_menu .wrapper-menu .line-menu.end{
    transform-origin: right;}

/* End Header Top */

/* search */
#search .btn-lg {
  right: auto;
  left: 0;
}
.search-widget form .input-group-btn{
  right: auto;
  left: 0;
}
@media (max-width: 991px) {
  #search .form-control-lg{
    padding: 0 15px 0 50px;
  }
}

@media (min-width: 992px){
  #search .btn-lg:after{
    left: auto;
    right: 0;}}
  @media (max-width: 991px) {
  .ajaxishi-search ul li > div .product-image {
    float: right;
    margin-right: 0px;
    margin-left: 12px; }
  .ajaxishi-search ul li > div .product-desc {
    text-align: right; }
  .ajaxishi-search ul li > div .product-desc .product-price .special {
    margin-right: 0px;
    margin-left: 8px; }
  }
@media (max-width: 991px){
  .search-widget form{
    left: auto !important;
    right: 0 !important;
  }
}
/* Header-Top */

/* cart */
#_mobile_cart{
  float: left;
  padding-right: 0;
  padding-left: 2px;}
/*#header-cart .offcanvas-backdrop{
  left:auto;
  right: 0;
}*/
#cart_wrapper {
  right: 0;
  left: auto;
}
#header-cart .cart-content .cart-products-count{
  left: 2px;
  right: auto;
}
/*@media (min-width: 992px){
#header-cart .cart-link {
      padding: 9px 6px 9px 0px;
}
}*/
  #cart-notification .cart-detail {
    left: auto;
    right: 50%;
    transform: translate(-50%, -50%); }
.blockcart #cart .cart-dropdown, .blockcart #cart .dropdown-menu {
    left: 0;
    right: auto;
    text-align: right; }
  .blockcart .cart-item .product-image {
    padding-right: 15px;
    padding-left: 0;
  }
@media (min-width: 992px){
  #header-cart .cart-content {
      padding-left: 0px;
      padding-right: 10px;
      text-align: right;
  }
}
.contact-num {
    padding-left: 0px;
      padding-right: 10px;
      text-align: right;
}
#_desktop-contactinfo{
  margin-right: 0;
  margin-left: 30px;
}
  #header-cart{
    text-align: left;}
  
  @media (max-width: 991px){
    #header-cart .cart-img svg{
      padding: 0;}}
#header-cart .dropdown-menu {
  left: 0 !important;
  right: auto !important;
}

@media (max-width: 991px) {
  #header-cart .dropdown-menu{
    right: auto !important;
    left: 0 !important;
  }
}
@media (max-width: 991px) {
  #header-cart .cart-content .cart-products-count{
    right: auto;
    left: 3px;
    top: 7px;
  }
}
#header-cart .cart-content .text-cart{
  padding-right: 10px;
  padding-left: 0;}
.offcanvas.offcanvas-end{
  left: 0;
  right: auto;
  transform: translate(-100%);}
#header-cart .cart-item .product-image{
  padding-left: 0;
  padding-right: 10px;
}
#header-cart .table-striped .img-thumbnail{
  margin-right: 0;
  margin-left: 15px;}
tr.border-remove .text-start{
  padding-left: 10px !important;
  padding-right: 0 !important;}

@media (max-width: 575px){
  #header-cart .offcanvas .caption{
    padding: 13px 13px 13px 0;
  }
}


#header .header-nav-right >div:last-child {
  padding-right: 8px;
  padding-left: 0;
}
#header .header-nav-right >div:after{
  left:-2px;
  right: auto;
}
#header .header-nav .header-nav-left a{
  margin-right: 5px;
}
/*Nav Full Width*/

/* menu */
#menu #category {
  float: right;
}
#menu .navbar-nav > li > a:first-child {
  padding-left: 15px;
  padding-right: 0;
}
@media (max-width: 991px) {
  #menu #narbar-menu{
    left: auto;
    right: 0;
  }
}
@media (max-width: 767px) {
  #menu div.dropdown-menu {
    margin-right: 0 !important;
    margin-left: 15px;
  }
}
/* content */


/* Start Ishi Header Block */
  @media (min-width: 992px) {
  #_desktop_link_menu {
    text-align: right;}}
  @media (min-width: 992px) and (max-width: 1199px) {
    #_desktop_link_menu {
      float: right;
      text-align: right;}}
  #header_ishiheaderlinks .bullet li .viewmore {
    padding-right: 0;
    padding-left: 17px; }
  #header_ishiheaderlinks .bullet li .viewmore:before {
    right: auto;
    left: 0;}
  #header_ishiheaderlinks .bullet li .headerlink-dropdown {
    right: auto;
    left: 0;
    text-align: right;}
  @media (max-width: 1200px) {
    #header_ishiheaderlinks .bullet.small {
      right: auto;
      left: 0;}}
  @media (max-width: 991px){
      #header_ishiheaderlinks .bullet.small {
        right: auto;
        left: 0;}}
  #header_ishiheaderlinks .bullet.small li {
    text-align: right;}
  #header_ishiheaderlinks .link-icon .wrapper-menu {
    left: 0;
    right: 12px;}
/* End Ishi Header Block */





/* Start Ishi slider  */
 .ishislider .owl-nav .owl-prev i:before{
   content: "\f104";}
  .ishislider .owl-nav .owl-next i:before{
   content: "\f105";}
 @media (max-width: 1250px){
  .ishislider:hover .owl-carousel .owl-nav .owl-next{
    left: auto;
    right: 20px;}
    .ishislider:hover .owl-carousel .owl-nav .owl-prev{
      left: 20px;
      right: auto;}}   

/* End Ishi slider  */


/*Start Faqimage*/
  .ishifaqwithimageblock .faq-block .faq-scroll{
    margin-left: 0;
    margin-right: 14%;}
  @media (max-width: 1370px){
    .ishifaqwithimageblock .faq-block .faq-scroll{
      margin-left: 0;
      margin-right: 8%;}}
  @media (max-width: 1199px){
    .ishifaqwithimageblock .faq-block .faq-scroll{
      margin-right: 0;}}
  .ishifaqwithimageblock .text-container .summary-content h4 svg{
    right: auto;
    left: 0;}
/*End Faqimage*/

/*Product Page*/
.product-right .form-group .control-label{
  float: right;
  margin: 8px 0px 8px 8px;
}
.product-right .alert.alert-info i{
  padding-right: 0 !important;
  padding-left: 5px;}
.product-right .form-group #input-quantity{
  float: right;
}
.product-right .countdown-container{
  margin-left: auto;
  margin-right: 0;}
/*End Product Page*/

/* Start Ishe Features Block */
.ishifeaturesblock .features-content .features-block .text-container .features-title{
  direction: ltr;}
/* End Ishe Features Block */


/*Start Faqimage*/
    .ishifaqwithimageblock .faq-border .section-header{
        text-align: right;}
    .ishifaqwithimageblock .faq-border .summary-content {
      padding-left: 0;
      padding-right: 15px;}
    .ishifaqwithimageblock .faq-border .image-container {
      border-radius: 0 10px 10px 0; }

    @media (max-width: 1900px) and (min-width: 1200px){
      .ishifaqwithimageblock .faq-border .faqbanner{
        padding: 0 0 0 12px;}}
    .ishifaqwithimageblock .faq-block .home-title{
      text-align: right;}

   
    .ishifaqwithimageblock .faqblock-container .panel-heading .text-container h4:before {
      right: auto;
      left: 0;}
      @media (max-width: 767px){
        .ishifaqwithimageblock .faqblock-container .panel-heading .text-container h4:before{
          right:auto;
          left: 2px;
        }
      }
    .ishifaqwithimageblock p {
      text-align: right;}
    .ishifaqwithimageblock .faq-btn {
      text-align: right;}
  .ishifaqwithimageblock .faq-border .faqbanner *{
    direction: ltr!important;
  }
#divisor:before, #divisor:after{
    right: auto;
    left: -2px;}
#handle {
  left: auto;
  right: 50%;}
input[type=range]{
  -webkit-appearance:none;
  top: 50%;
  left: auto;
  right: -25px;}

/*End Faqimage*/

/*Start Video Section */
.ishivideoblock .video-list{
  left: auto;
  right: 50px;}
/* Start Video  Section */


/* Start ishi special */

  .ishispecial .product-layout .product-thumb .rating span.fa-stack{
    margin-right: 0;
    margin-left: 8px;}
  @media (min-width: 768px) {
    .ishispecial .product-layout .product-thumb .caption .button-group > div {
      opacity: 0;
      transform: translateX(50px);
      -moz-transform: translateX(50px);
      -webkit-transform: translateX(50px);
      -o-transform: translateX(50px);
      -ms-transform: translateX(50px); } }
.ishispecial .owl-nav .owl-next {
    left: -5px;
    right: auto;
}
.ishispecial .owl-nav .owl-prev {
    left:auto ;
    right: -5px;
}
/* End ishi special */

/* Start Ishi Testimonial Block */
@media (min-width: 1200px){
  .ishitestimonials.col-xl-4{
    width: 33.33333333%;
  }
}
.ishitestimonials .ishitestimonials-container .user-description:after, .ishitestimonials .ishitestimonials-container .user-description:before {
  top: -4px;
  left: -2px;}
.ishitestimonials .ishitestimonials-container .user-description:after {
  right: auto;
  left: -3px;}
/* End Ishi Testimonial Block */

/*Start Special Deal*/
.ishispecialdeals .product-thumb .image .img-box{
  text-align: left;}
.ishispecialdeals .product-thumb .button-group{
  left: 12px;
  right: auto;
}
@media (max-width: 575px){
  .ishispecialdeals .product-thumb .caption{
    text-align: center;}}
@media (max-width: 575px){
  .ishispecialdeals .product-thumb .caption .rating{
    text-align: center;}}
.ishispecialdeals .owl-dots {
    right: auto;
    left: -10px;}
/*End Special Deal*/

 /* Start themesblog */

 .date-time svg{
  margin-right: 0;
  margin-left: 7px;}
 .all-blog .sdsarticleCat .smartblog-desc .blog-date-comment .blog-date{
  margin-right: 0;
  margin-left: 10px;}
  @media (max-width: 991px){ 
  .single-blog {
     float: right;}}
  .single-blog .smartblogcomments .reply-title{
    text-align: right;}
  .single-blog .smartblogcomments .view-comment {
    text-align: right;}
  .single-blog .smartblogcomments .view-comment .user_list {
    text-align: right;
    margin-left: 0;
    margin-right: 10px;}
  .single-blog #add-comment .form-horizontal .control-label {
    text-align: right;}
  .all-blog .sdsarticleCat .smartblog-desc {
    text-align: right;}
  @media (max-width: 991px) {
    .all-blog .sdsarticleCat .smartblog-desc {
      text-align: center;}}
  .all-blog .sdsarticleCat .smartblog-desc .blog-date-comment {
    margin-bottom: 15px; }
  .all-blog .sdsarticleCat .smartblog-desc .blog-date-comment .comment-wrapper span {
    margin-right: 0;
    margin-left: 10px;}
  .single-blog .page-item-title h1{
    text-align: right;}
  .single-blog .blog-desc{
    text-align: right;}


    .smartblog_block .blog_post .news_module_image_holder .smartbloginfo{
      left: auto;
      right: 10px;}
    .smartblog_block .blog_post .blog_content {
      text-align: right;}
    @media (min-width: 768px){
      .smartblog_block .owl-carousel .owl-nav .owl-prev,.smartblog_block .owl-carousel .owl-nav .owl-next{
        left: auto;
        right: 0;}
      .smartblog_block .owl-carousel .owl-nav .owl-next{
        left: -16px;
        right: auto;}
    }
      
/*end themesblog*/



 /*start newsletter*/
@media (max-width: 991px){
  .block_newsletter{
    text-align: center;
  }
}
.block_newsletter #newsletter-container .newsletter_form .btn-submit {
  right: auto;
  left: 1px;}
.block_newsletter #newsletter-container .newsletter_form .text-email {
  padding: 10px 10px 10px 130px;}
@media (max-width: 1199px) and (min-width: 992px){
  .block_newsletter #newsletter-container .newsletter_form .text-email {
    padding: 10px 10px 10px 115px;
  }
}
@media (max-width: 767px) {
  .block_newsletter #newsletter-container .newsletter_form .text-email {
    padding: 10px 10px 10px 75px; } }
.block_newsletter .block .content{
text-align: right;
padding-left: 0;
padding-right: 10px;}
.block_newsletter .block .content .content-title{
padding-right: 0;
padding-left: 5px;}

.block_newsletter .social-container ul{
  text-align: right;
} 
@media (max-width: 991px){
  .block_newsletter .social-container ul{
    text-align: center;
  }
}
/*end newsletter*/



/*start service Block*/
  .ishiservicesblock .ishiservices .services {
    border-left: 1px solid #e8e8e8; 
    border-right: 0;}
  .ishiservicesblock .ishiservices .services:last-child {
    }
  @media (max-width: 991px) {
    .ishiservicesblock .ishiservices .services {
      border: 0;}}
  @media screen and (min-width: 451px) and (max-width: 991px) {
    .ishiservicesblock .ishiservices .services:nth-child(4n+1), .ishiservicesblock .ishiservices .services:nth-child(4n+2) {
      border-bottom: 1px solid #e8e8e8;}
    .ishiservicesblock .ishiservices .services:nth-child(4n+1), .ishiservicesblock .ishiservices .services:nth-child(4n+3) {
      border-left: 1px solid #e8e8e8;
      border-right: 0;}}
    @media (max-width: 575px) {
    .ishiservicesblock .ishiservices .services{
      border-bottom: 1px solid #e8e8e8;}}
  @media (max-width: 991px) {
    .ishiservicesblock .ishiservices .services .service-block {
      text-align: right;
      padding-right: 10px;
      padding-left: 0;}}
  @media (max-width: 767px){
    .ishiservicesblock .ishiservices .services .service-block{
      text-align: center;
      padding-right: 0;}}

/*end service Block*/


/* Start Ishi Product With Banner Block */

.ishibannerwithproductblock .product-collection{
  padding-left: 0;
  padding-right: 12px;}
@media (max-width: 991px){
  .ishibannerwithproductblock .product-collection{
    padding-left: 12px;}}
/* End Ishi Product With Banner Block */



/*Start Ishi Instagram Block*/
  .ishiinstagramblock #ishiinstagram-carousel .item .text-container .likes {
    float: right;}
  .ishiinstagramblock #ishiinstagram-carousel .item .text-container .comments {
    float: left;
    margin-right: 0;
    margin-left: 10px;}
  @media (max-width: 543px) {
    .ishiinstagramblock #ishiinstagram-carousel .item .text-container .comments {
      margin-left: 0; } }
  .ishiinstagramblock #ishiinstagram-carousel .item .text-container i {
    padding-left: 5px;
    padding-right: 8px; }
  .ishiinstagramblock #ishiinstagram-carousel .item .text-container .likes {
    float: right;
    margin-left: 0;
    margin-right: 10px;
  }
  .ishiinstagramblock #ishiinstagram-carousel .item a .image-overlay:before,.ishiinstagramblock #ishiinstagram-carousel .item a .image-overlay:after {
    left: auto;
    right: 50%;
  }
  .ishiinstagramblock #ishiinstagram-carousel .item a .image-overlay:after {
    left: auto;
    right: 50%;
  }
  .ishiinstagramblock #ishiinstagram-carousel .item:hover a .image-overlay:before,.ishiinstagramblock #ishiinstagram-carousel .item:hover a .image-overlay:after {
    left: auto;
    right: 0;
  }
  .ishiinstagramblock #ishiinstagram-carousel .item a .image-overlay span:before,.ishiinstagramblock #ishiinstagram-carousel .item a .image-overlay span:after {
    left: auto;
    right: 0;
  }
  .ishiinstagramblock #ishiinstagram-carousel .item a .image-overlay span:after {
    right: auto;
    left: 0;
  }
/*End Ishi Instagram Block*/

/* Start Footer */
#footer #slidetop {
  right: auto;
  left: 20px;}
#footer .account{
    text-align: right;}
#footer .account ul,#footer .information ul,#footer .extra ul{
  text-align: right;}
#footer .account a:before{
  float: right;
  transform: rotate(180deg);
}
#footer .account li a:hover{
  padding-left: 0;
  padding-right: 5px;
}
.block-title .navbar-toggler, .footer-title .navbar-toggler, .title .navbar-toggler{
  right: auto;
  left: 15px;}
#footer .footer-title .navbar-toggler{
  right: auto;
  left: 0;}
#footer .footer-before:after{
  right: 49%;
  left: auto;}
.footer-after p.footer-aftertext{
  text-align: right;}
@media (max-width: 767px){
  .footer-after p.footer-aftertext{
    text-align: center;}}
#footer .account, #footer .block-social.col-lg-2{
  text-align: right;}
/* End Footer*/

/* block social */
#footer .block-social li{
  text-align: right;}
#footer .block-social li a span{
  padding-left: 0;
  padding-right: 5px;}
/* block social  */


/* Start Ishi Contact Info Block */
#_desktop_contact{
  text-align: right;}
#_desktop_contact #contact-info-container .block .content{
  padding-left: 0;
  padding-right: 10px;
  text-align: right;}
#_desktop_contact #contact-info-container .block .content .content-title{
  padding-left: 5px;
  padding-right: 0;}
@media (max-width: 991px){
  #footer .account, #footer .block-contact{
    text-align: right;}}
/* End Ishi Contact Info Block */

/*payment block*/
  .ishipaymentblock{
    text-align: left;}
  @media (max-width: 767px) {
  .ishipaymentblock {
    text-align: center;}}
/*End payment block*/

/* Start Special Product Page */
@media (min-width: 768px) and (max-width: 1199px){
  #product-search .product-list-top .pagination-right{
    width: 62%;}
  #product-search .product-list-top .compare-total{
    width: 23%;}}
  @media (max-width: 470px){
    #product-search .product-list-top .pagination-right .sort-by-wrapper,#product-search .product-list-top .pagination-right .show-wrapper{
      display: block;
      overflow: hidden;}
    #product-search .product-list-top .pagination-right .sort-by-wrapper .select-wrapper select{
      margin-bottom: 15px;}
    #product-search .product-list-top .pagination-right .limit{
      float: right !important;}}
@media (max-width: 1199px) and (min-width:768px){
  .product-list-top .compare-total {
      width: 25%!important;
  }
  .product-list-top .pagination-right {
      width: 61%!important;
  }
}

.product-list-top .pagination-right .show-wrapper {
    margin-right: 10px;
}

.product-list-top .pagination-right .sort-by-wrapper, .product-list-top .pagination-right .show-wrapper {
    margin-right: 6px!important;
}
@media(max-width:440px){
  .product-list-top .pagination-right .sort-by-wrapper, .product-list-top .pagination-right .show-wrapper {
    margin-right:15px!important;
  }
}
/* End Special Product Page */
.page-title {
  text-align: right;}
  #column-left .box ul .navbar-toggler, #column-right .box ul .navbar-toggler, #column-left .box .category-top-menu .navbar-toggler, #column-right .box .category-top-menu .navbar-toggler {
    left: 6px;
    right: auto;}

/*Feature product*/

.product-thumb .outstock-overlay {
    left: auto; 
    right: 10px;}
.product-thumb .button-group{
  left: 10px;
  right: auto;}
@media (max-width: 450px){
  .product-thumb .button-group{
  left: 0px;}
}
@media (min-width: 768px) {
  .product-thumb .button-group .btn-wishlist,.product-thumb .button-group .btn-compare,.product-thumb .button-group .btn-quickview{
    transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);}}
@media (min-width: 768px) {
  .product-thumb:hover .button-group .btn-wishlist,.product-thumb:hover .button-group .btn-compare,.product-thumb:hover .button-group .btn-quickview{
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.product-thumb .rating span.fa-stack{
  margin-left: 3px;
  margin-right: 0;}
.product-thumb .button-group button + button {
  border-right: 1px solid #ddd;
  border-left: 0;}
.countdown-container .counter:after{
  left: -4px;
  right: auto;}
/* BS4 Changes */
/* Theme Custom CSS */
#cookie {
  right: 0;
  left: auto;
}
.product-list .product-thumb .caption .rating{
  text-align: right;
}
@media (max-width: 575px){
.product-list .product-thumb .caption .rating {
    text-align: center;
}
}
        /*Do Not Change*/


@media (min-width: 768px) {
  .col-form-label {
    text-align: right !important;
  }
}


@media (min-width: 1300px) {
  #alert .alert {
    left: 50px;
    right: auto;
  }
}
@media (min-width: 1400px) {
  #alert .alert {
    left: 0px;
    right: auto;
  }
}
@media (min-width: 1600px) {
  #alert .alert {
    left: 100px;
    right: auto;
  }
}
@media (min-width: 1800px) {
  #alert .alert {
    left: 200px;
    right: auto;
  }
}
@media (min-width: 2000px) {
  #alert .alert {
    left: 300px;
    right: auto;
  }
}
@media (min-width: 2200px) {
  #alert .alert {
    left: 400px;
    right: auto;
  }
}
@media (min-width: 2400px) {
  #alert .alert {
    left: 500px;
    right: auto;
  }
}
@media (min-width: 2600px) {
  #alert .alert {
    left: 600px;
    right: auto;
  }
}
@media (min-width: 2800px) {
  #alert .alert {
    left: 700px;
    right: auto;
  }
}
@media (min-width: 3000px) {
  #alert .alert {
    left: 800px;
    right: auto;
  }
}
@media (min-width: 3200px) {
  #alert .alert {
    left: 900px;
    right: auto;
  }
}
@media (min-width: 3400px) {
  #alert .alert {
    left: 1000px;
    right: auto;
  }
}
@media (min-width: 3600px) {
  #alert .alert {
    left: 1100px;
    right: auto;
  }
}
@media (min-width: 3800px) {
  #alert .alert {
    left: 1200px;
    right: auto;
  }
}
@media (min-width: 4000px) {
  #alert .alert {
    left: 1300px;
    right: auto;
  }
}
.form-check{
  padding-right: 1.5em;
  padding-left: 0 !important; 
}
.form-check-inline{
  margin-left: 1rem;
  margin-right: 0;
}
.ishistoreinfoblock.banner-alignment-1 {
  text-align: right !important; }
.ishistoreinfoblock.banner-alignment-0 {
  text-align: left !important; }
@media (max-width: 991px){
  .ishistoreinfoblock.banner-alignment-1,.ishistoreinfoblock.banner-alignment-0{
    text-align: center !important;}}
.filterbox .form-check{
  padding-left: 0;
  padding-right: 1.5em;}
.form-check .form-check-input{
  float: right;
  margin-left: 0;
  margin-right: -1.5em ;}

#_desktop_column_left .list-group-item i,#_mobile_column_left .list-group-item i{
  margin-right: 0 !important;
  margin-left: 8px;
}
.form-floating>label{
  text-align: right !important;}

/*Account Page*/

  #common-success .success-title i {
    padding-left: 8px;
    padding-right: 0;
  }
  #account-newsletter .col-form-label{
    text-align: right !important;
  }
  .form-floating>label{
    left: auto!important;
    right: 15px;
    text-align: right !important;}

  .form-floating > .form-control:focus ~ label,.form-floating > .form-control:not(:placeholder-shown) ~ label,.form-floating > .form-control-plaintext ~ label,.form-floating > .form-select ~ label{
  transform: scale(0.85) translateY(-0.5rem) translateX(1rem);}


/*End Account Page*/


/*Start featured products*/
  #column-left section.featured-products .product-thumb .image,#column-left section.bestseller-products .product-thumb .image {
    float: right !important;
    margin-right: 0 !important;
    margin-left: 10px;
  }
  #column-left section.featured-products .product-thumb .caption,#column-left section.bestseller-products .product-thumb .caption {
    text-align: right !important;
  }
  #column-left .product-thumb .caption, #column-right .product-thumb .caption,#column-left .product-thumb .caption, #column-right .product-thumb .caption {
    text-align: right !important;
  }
/*End featured products*/


/*Start latest products*/
  #column-left section.latest-products .product-thumb .image{
    float: right !important;
    margin-right: 0 !important;
    margin-left: 10px;
  }
  #column-left section.latest-products .product-thumb .caption{
    text-align: right !important;
  }
  #column-left .product-thumb .caption, #column-right .product-thumb .caption{
    text-align: right !important;
  }
/*End latest products*/




/*Category Page*/
  .product-list-top .btn-list-grid {
    margin-left: 0!important;
    margin-right: 12px;}
    .product-list-top .btn-list-grid .btn-group > .btn#grid-view {
      margin-right: 0 !important;
      margin-left: 8px; }
  .product-list-top .compare-total {
    right: auto !important;
    left: 30px;}

    @media (max-width: 1199px) {
      .product-list-top .compare-total {
        right: auto;
        left: 9px;
      }
    }
     @media (max-width: 767px) {
  .product-list-top .pagination-right {
    margin-right: 15px !important;} }
  .product-list-top .pagination-right {
    margin-right: 0 !important;
    margin-left: 15px !important;
    float: left !important;}
    @media (max-width: 767px) {
  .product-list-top .pagination-right {
    margin-right: 15px !important;} }
.product-list-top .pagination-right .sort-by-wrapper{
      margin-right: 0 !important;
      margin-left: 15px !important;  }
    .product-list-top .pagination-right .sort-by {
      float: right !important;
      margin: 0px 0 0 10px !important;}
    .product-list-top .pagination-right .sort {
      float: right !important;}
    .product-list-top .pagination-right .show {
      float: right !important;
      margin: 0px 0 0 10px !important; }
    @media (max-width: 543px) {
    .product-list-top .pagination-right .show {
      margin: 2px 0 0 10px !important; } }
    .product-list-top .pagination-right .limit {
      float: left !important;}
      @media (max-width: 440px){
      .product-list-top .pagination-right .limit{
        float: right !important; } }
    .product-list-top .pagination-right .select-wrapper .form-control {
      text-align: right !important;}
    .product-list-top .pagination-right .select-wrapper:after,.product-list-top .pagination-right .show-wrapper .limit:after {
      right: auto !important;
      left: 10px;}
    .product-list-top .pagination-right .sort-by-wrapper .select-wrapper select,.product-list-top .pagination-right .show-wrapper .limit select{
      padding-right: 0.75rem;
      padding-left: 2.25rem;}
    #product-list.product-list .product-thumb .button-group{
      left: 10px;
      right: auto;} 
    .product-list .product-thumb .caption{
      text-align: right;}
    @media (max-width: 575px){
      .product-list .product-thumb .caption{
        text-align: center;}}

 /* End Category Page */

.breadcrumb-item + .breadcrumb-item::before{
  float: right;
}

/*Product-right*/
  .product-right .rating-wrapper span.fa-stack {
    margin-right: 3px !important;
    margin-left: 3px;}
  .product-right .rating-wrapper .write-review i{
    padding-left: 8px;
    padding-right: 0 !important;}
  .product-right .list-unstyled.price .product-dis {
    margin-right: 0 !important;
    margin-left: 10px;}
  .product-right .form-group .control-label {
    float: right !important;
    margin: 8px 0 8px 8px !important;}
  .product-right .form-group #input-quantity {
    float: right !important;}
  @media screen and (min-width: 992px) and (max-width: 1199px) {
      .product-right .form-group #input-quantity {
        margin-right: 0 !important;
        margin-left: 5px; } }
  .product-right .form-group #button-cart {
    margin-right: 6px !important;
    margin-left: 6px;}
    .product-right .form-group .wishlist i {
      margin-right: 0 !important;
      margin-left: 8px;}
    .product-right .form-group .wishlist svg, .product-right .form-group .compare svg {
      margin-right: 0 !important;
      margin-left: 5px;}
  @media (min-width: 544px) {
    .product-right .product_option:nth-child(2n+1) {
      clear: left !important;} }

  .tabs_info .accordion-header a:after{
    float: left !important;}
  
  .tabs_info .tab-description li{
    padding-left: 0!important;
    padding-right: 20px;}
  .tabs_info .tab-description li:before{
    left: auto !important;
    right: 0;}

 /* End product right  */



/*Product Page*/
.tabs_info .accordion-header a:after {
  float: left !important;}
.product-right .rating-wrapper span.fa-stack {
  margin-right: 0!important; 
  margin-left: 3px;}
 /*End Product Page Tabe*/



/* Start Ishi Parralax Block */
.ishiparallaxbannerblock .parallax_banner .parallax-list #parallaxcountdown .data:after{
  right: auto;
  left: -8px;}
@media (max-width: 575px){
  .ishiparallaxbannerblock .parallax_banner .parallax-list #parallaxcountdown .data:after{
    left: -5px;}}
/* End Ishi Parralax Block */



/*Contact Page*/
#information-contact .title-container{
 padding: 0px 12px 16px 0 !important;}
@media (max-width: 767px){
  #information-contact .title-container{
    padding: 0px 0 8px 0px !important;}}
#information-contact .block-social ul li a {
  margin: 0 0 3px 3px !important; }
#information-contact .block-social ul li a:before {
   left: auto !important; 
  right: 0;}
@media (min-width: 768px) {
  #information-contact .contact-form .contact_form:first-child {
    padding-right: 0 !important;
    padding-left: 15px; } }
@media (max-width: 991px) {
  #information-contact .contact-form-information .contact-image .bannerblock {
    text-align: right !important;
  }
}
#information-contact .contact-form-information .contact-image .image-container a:after {
  left: 0 !important; 
  right: 20px;}
#information-contact .block-social {
  text-align: right !important;
}
#information-contact .address-image,#information-contact .call-image,#information-contact .email-image,#information-contact .location-icon{
  margin-right: 0 !important;
  margin-left: 15px;
}

/*End Contact Page*/


/*Information Page*/
  #information-information #content ul, #information-information #content ol {
    padding-right: 26px;
    padding-left: 0 !important;}
  #information-information #content ul li, #information-information #content ol li {
    padding-left: 0 !important;
    padding-right: 3px; }
  #information-information #content blockquote {
    text-align: right !important;
    border-left: 0 !important;
    border-right: 3px solid #e5e5e5;
    margin-left: 0 !important;
    margin-right: 15px; }
  /*End Information Page*/  


 /*Information Sitemap Page*/  
  #information-sitemap ul.nested {
    margin-left: 0 !important;
    margin-right: 20px; }
  /*End Information Sitemap Page*/  

/*start FAQ block*/
.ishifaqblock a {
  text-align: right !important;
}
.ishifaqblock .card-body .accordion__content blockquote p{
  padding-left: 0 !important;
  padding-right: 10px;
}
.ishifaqblock .btn span{
  margin-right: 0 !important;
  margin-left: 5px;}
  .ishifaqblock a:before {
    right: auto !important;
    left: 25px;}
  @media (max-width: 500px){
    .ishifaqblock a:before{ 
    right: auto !important;
    left: 15px;}}
  @media (max-width: 415px){
    .ishifaqblock a:before{ 
    right: auto !important;
    left: 10px; }} 
  .ishifaqblock .faqblock-container:last-child {
    border-bottom: 0; }  

/*end FAQ block*/

/*start aboutus page*/
.ishiaboutusblock .aboutus_banner .aboutus-details .about-btn svg {
  margin-left: 0 !important;
  margin-right: 6px;
}
/*end aboutus page*/

 /*Start Quichview*/

  .quickview .quickview-container .productpage-quickview .product-left {
    float: right; }
  .quickview .quickview-container .productpage-quickview .product-right {
    float:left;}
  .quickview .quickview-container .productpage-quickview .product-right .list-unstyled.attr li .desc {
    margin-right: 0px; 
    margin-left: 10px;}

  /*End Quickview*/

  .end-0{
  left: 0!important;
  right: auto!important;
}
@media (min-width: 1300px) {
  #alert .alert {
    left: 50px !important;
    right: auto !important;
  }
}
@media (min-width: 1400px) {
  #alert .alert {
    left: 0px !important;
    right: auto !important;
  }
}




/* start Footer Cookies */
.OpenCart-cookies #cookieconsent{
  left: 15px;
  right: auto;}
@media (max-width: 767px){
  .OpenCart-cookies #cookieconsent{
    left: 0;
    right: 0;}}
/* end Footer Cookies */


  /* Start Newsletter Popup block */
    #ishi-newslatterpopup{
      text-align: right;}
    #ishi-newslatterpopup .popup-bg-color{
      right: auto;
      left: 0;}
    #ishi-newslatterpopup #modalclose-newsletter{
      right: auto;
      left: 15px;}
    @media (max-width: 991px){
      #ishi-newslatterpopup #modalclose-newsletter{
        left: 10px;}}
    @media (max-width: 767px){
      #ishi-newslatterpopup #modalclose-newsletter{
        left: 15px;}}
    #ishi-newslatterpopup .popup-contact-info .newsletter-container form input{ 
      padding: 10px 10px 10px 130px;} 
    @media (max-width: 575px){
      #ishi-newslatterpopup .popup-contact-info .newsletter-container form input{
        padding-left: 73px;}}
    #ishi-newslatterpopup .popup-contact-info .newsletter-container form .btn-submit{
    right: auto;
      left: 0;}
  /* End Newsletter Popup block */
 /* Start  Ishi Cart Services Block  */
  .ishi-shop-reassurance .services .service-block{
    padding-left: 0;
    padding-right: 10px;
    text-align: right;} 
  /* End  Ishi Cart Services Block  */