:root{
--brand-theme:#cc9966;
--breadcrumb_image:url("../../../image/catalog/otherimage/breadcrumb.jpg");
--breadcrumb_color:#f5f5f5;
--headernav_bgcolor:#f7f8f9;
--headernav_textcolor:#999999;
--header_bgcolor:#ffffff;
--header_textcolor:#232323;
--header_text_hovercolor:#cc9966;
--btn_bgcolor:#cc9966;
--btnhover_bgcolor:#232323;
--btn_textcolor:#ffffff;
--btnhover_textcolor:#ffffff;
--footer_bgimage:url("");
--footer_bgcolor:#f7f7f7;
--footer-title-color:#171717;
--footer-text-color:#7a7a7a;
--footer-hover-text-color:#cc9966;
--footerafter-bgcolor:;
--footerafter-text-color:#7a7a7a;
}