<div class="ishi-shop-reassurance">
    <div id="cart-services" class="owl-carousel">
        {% for ishiservice in ishiservices %}
            <div class="item">
                <div class="services">
                    <div class="service-img">
                        {# <span style="background-image: url({{  }});"></span> #}
                        <img src="{{ ishiservice.image }}" class="image-fluid" >
                    </div>
                    <div class="service-block">
                        <div class="service-title">{{ ishiservice.title }}</div>
                        <div class="service-desc">{{ ishiservice.desc }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop: true  ,
            nav: false,
            dots: true,
            rtl: $('html').attr('dir') == 'rtl'? true : false,
            autoplay: true, 
            responsive:{
                0:{
                    items:1
                },
                544:{
                    items:1
                },
            }
        });
    </script>
