/*Fonts*/
/*Colors*/
/*Backgrounds*/
/*Border-radius*/
/*Box Shadow*/
/*Colors Themes*/
input[type="radio"] + label {
  padding-left: 20px;
  padding-right: 30px; }
  input[type="radio"] + label:before {
    right: 0;
    left: auto; }
  input[type="radio"] + label:after {
    right: 2px;
    left: auto; }

.product-options .checkbox label {
  text-align: right;
  padding: 5px 45px 5px 5px; }
  .product-options .checkbox label:before, .product-options .checkbox label:after {
    right: 13px;
    left: auto; }

input[type="checkbox"] + label:before,
input[type="checkbox"] + label:after {
  right: 0;
  left: auto; }

div.required .control-label:after {
  margin-left: 0;
  margin-right: 5px; }

.breadcrumb > li + li {
  padding-right: 20px; }
  .breadcrumb > li + li:before {
    content: '\e0c3';
    position: absolute;
    top: 50%;
    right: 0;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.product-list .product-thumb .image {
  float: right; }

.product-list .product-thumb .aside {
  margin-left: 0;
  margin-right: 2%;
  text-align: right; }
  .product-list .product-thumb .aside .product-btn {
    float: right; }

.product-thumb .caption,
aside .box .box-heading {
  text-align: right; }

.product-thumb .caption .button-group {
  right: 0;
  left: auto; }
  .product-thumb .caption .button-group .button-add {
    margin: 0 0 0 20px;
    float: right;
    text-align: right; }

footer .box .box-heading {
  text-align: right; }

.text-left {
  text-align: right; }

.text-right {
  text-align: left; }

.newsletter .box-content .jetimpex-login-form button {
  float: left; }

.rd-parallax:before {
  left: -83px;
  right: auto; }

.pull-right {
  float: left !important; }

.pull-left {
  float: right !important; }

.discount {
  direction: ltr; }

.product_model.model > p {
  display: inline-block; }

.alert {
  padding: 18px 75px 18px 40px; }
  .alert i {
    right: 0;
    left: auto; }
  .alert button.close {
    left: 15px;
    right: auto; }

.sbHolder {
  text-align: right; }

.sbToggle {
  left: 0;
  right: auto;
  border-left: 0;
  border-right: 1px solid #dbdcdd; }

.sbSelector {
  right: 0;
  left: 51px; }

.button-view button + button {
  border-right: 1px solid #dbdcdd;
  border-left: none; }

.product-filter_elem.show .sbHolder {
  border-right: 1px solid #dbdcdd;
  border-left: 0; }

.product-filter_elem {
  float: right; }

.product-filter_elem .sbHolder .sbSelector,
.product-filter_elem select .sbSelector {
  text-align: center; }

.product-filter label {
  margin: 0 10px 0 5px; }

.product-filter .compare-total {
  border-left: 1px solid #dbdcdd;
  border-right: 0; }

.article-sub-title {
  display: block; }
  .article-sub-title:before, .article-sub-title:after {
    display: table;
    content: "";
    line-height: 0; }
  .article-sub-title:after {
    clear: both; }
  .article-sub-title span {
    margin: 0; }

.article-description ul li, .article-description ol li {
  padding-left: 0;
  padding-right: 50px; }
  .article-description ul li:before, .article-description ol li:before {
    right: 0;
    left: auto; }

.article-comment .author {
  float: right; }

.article-comment .reply-message {
  float: left; }

.reply-cancel {
  text-align: left; }

.product-gallery {
  direction: ltr; }

.pagination > li {
  float: right; }
  .pagination > li + li > a, .pagination > li + li > span {
    border-right: none;
    border-left: 1px solid #dbdcdd; }
  .pagination > li + li:nth-child(5n+6) {
    clear: right; }
    .pagination > li + li:nth-child(5n+6) > a, .pagination > li + li:nth-child(5n+6) > span {
      border-right: 1px solid #dbdcdd; }

.contact_page .icon {
  padding-left: 0;
  padding-right: 70px; }
  .contact_page .icon:before {
    right: 0;
    left: auto; }

.article-comments {
  margin: 0 0 0 14px; }

.search {
  left: 0;
  right: auto; }
  .search input[type="text"] {
    padding: 0 20px 0 40px; }
  .search button {
    right: auto;
    left: 10px; }
  .search .toggle_cont {
    left: 0;
    right: auto; }
  .search .toggle a {
    left: 18px;
    right: auto; }
  .search .toggle.active a {
    left: 0;
    right: auto; }

#livesearch_search_results li img {
  float: right;
  margin: 0 0 0 15px; }

.box-language .dropdown-toggle:after,
.box-currency .dropdown-toggle:after {
  left: 6px;
  right: auto; }

.swiper-slide .swiper-caption {
  text-align: right; }

.form-horizontal .control-label {
  text-align: right; }

input[type="radio"] + label {
  padding-left: 5px;
  padding-right: 30px; }

.single-category .nav-tabs {
  left: 0;
  right: auto; }
  .single-category .nav-tabs li {
    float: left;
    margin: 0 20px 0 0 !important; }
    .single-category .nav-tabs li + li {
      margin: 0 20px 0 0; }

.article-description,
#style_switcher {
  text-align: right; }

footer ul li {
  margin: 0 0 0 50px; }

.cart .toggle_cont {
  left: 0;
  right: auto; }

.article-date {
  right: 0;
  left: auto; }

.sf-menu .sf-mega,
.ajax-quickview-cont-wrap .ajax-quickview-cont .name h3,
.product-options .control-label {
  text-align: right; }

.ajax-quickview-cont-wrap .product-btn-add {
  margin: 0 0 0 20px; }

.newsletter .box-content .jetimpex-login-form .newsletter-error,
.newsletter .box-content .jetimpex-login-form .newsletter-success {
  text-align: right;
  right: 0;
  left: auto; }

.newsletter .box-content .jetimpex-login-form input {
  float: right; }

.social-list li {
  margin: 0 0 0 20px; }

.product-options .radio input[type="radio"] + label {
  padding: 5px 45px 5px 5px;
  text-align: right; }

.product-options .form-group.required .sbHolder .sbSelector {
  right: 0;
  left: auto; }

input[type="radio"] + label::before {
  right: 8px; }

input[type="radio"] + label::after {
  right: 11px; }

/* ===================   Site Map Page  =================== */
.site-map-page #content ul {
  padding: 0; }
  .site-map-page #content ul.category-list:before {
    right: 0;
    left: auto; }
  .site-map-page #content ul.category-list ul:before {
    left: auto;
    right: 0; }
  .site-map-page #content ul.category-list li {
    padding: 0 60px 0 0; }
    .site-map-page #content ul.category-list li:before {
      left: auto;
      right: 0; }
  .site-map-page #content ul.category-list > li:after {
    right: 35px;
    left: auto; }

header .logo {
  right: 0;
  left: auto; }

header .header-top {
  left: 0;
  right: auto; }

.sf-menu .sf-mega_section {
  float: right; }

.sf-menu .sf-mega {
  padding: 30px 50px 35px 15px; }
  .sf-menu .sf-mega > li ul li a:before {
    margin-left: 15px;
    margin-right: 0;
    right: 0;
    left: auto; }

.sf-menu > li {
  margin-right: 0;
  margin-left: 30px; }
  .sf-menu > li:last-child {
    margin-left: 0; }

.article-sub-title span {
  margin: 0 0 0 10px; }

.featured .product-thumb .caption .button-group .button-add {
  margin-right: 0; }

.blog_articles .box-content .item, .blog-item .box-content .item {
  float: right; }

@media (max-width: 480px) {
  header .html {
    text-align: right; } }
