<section id="{{ ishi_randomnumer }}" class="ishimaplinkblock">
    <div class="map-container"> 
        <iframe src="{{ link }}" style="border:0;" width="{{ width }}" height="{{ height }}" frameborder="0"></iframe>
    </div> 
</section>